GITHUB_TOKEN=replace_with_your_token\nGITHUB_API_URL=https://api.github.com\nGITHUB_API_VERSION=2022-11-28\nHTTP_PROXY=\nHTTPS_PROXY=\nLOG_LEVEL=INFO\nLOG_FILE=logs/github-manager.log\nWEB_HOST=127.0.0.1\nWEB_PORT=8080\n